DATABASE_DSN="host=localhost user=flash_sale_user password=flash-sale dbname=flash_sale_db port=5432 sslmode=disable"
ADDR="localhost:4000"
CACHE_URL="localhost:6379"
RABBIT_MQ_URL="amqp://guest:guest@localhost:5672/"

# 如果用docker部署到云服务器，这里的localhost需要替换为云服务器IP或者0.0.0.0，同时，测试文件中getBaseURL函数也
# 要做更改，云服务器需要关闭相应端口的防火墙
